.showCard {
  color: #fff;
  border: 3px solid gainsboro;
  transition: 0.25s;

  h4 {
    // padding-top: 10px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    border-color: purple;
    scale: 1.05;
  }

  .rating {
    bottom: 16px;
    right: 10px;
    background-color: rgb(75, 75, 255);
    border-radius: 50%;
    padding: 3px;
    opacity: 0.8;
  }

  &:hover {
    .rating {
      opacity: 1;
    }
  }
}
